@import "tailwindcss";

:root {
  --background: #e7e7cb;
  --foreground: #18181b;
  --primary: #e21d12;
  --primary-dark: #d41810;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
}

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
